body {
    min-width: 960px;
    font: 14px Arial;
}
#center {
margin: 0px auto;
width: 960px;
overflow: hidden;
}
#input {
    width: 400px;
    height: 250px;
}
#output {
    width: 400px;
    height: 250px;
}
article header {
    text-align: center;
    height: 30px;
    background: url('blue.png') #4765d9; 
}
article section {
    width: 920px;
    margin: 20px;
    text-align: center;
}
h1 {
    font: 24px Verdana;
    color: white;
}
body header {
    float: top;
    height: 35px;
    background: url('blue.png') #4765d9; 
    font-size: 20px;
}
nav ul {
    margin: 0px;
    list-style-type: none;
}
nav ul li {
    float: left;
    padding: 0px 25px;
    margin: 2px 5px;
}
nav a {
    color: white;
    text-decoration: none;
}
footer {
    font: 14px Arial;
}
.centered {
    text-align: center;
}
#tools, #page-content{
    float: right;
}
#tools {
    max-width: 150px;
    margin: 5px;
    position: relative;
    top: 150px;
}
button {
    background: white;
    border: 1px solid black;
    margin: 1px;
}
textarea, input{
    border: 1px solid black;
}
textarea {
    max-width: 700px;
}
.help-button {
    border: none;
}